%h2 List Configuration

= custom_form_for(@list, html: {class: 'form-vertical'}) do |f|
  %h3 Welcome Message
  = f.input :use_welcome_message, label: 'Use welcome message'
  #welcome_message_wrap
    = f.input :custom_welcome_message, as: :text, label: 'List welcome message', hint: 'Leave blank to use default welcome message',  input_html: {class: 'count_characters'}
    %span#character_count

  - if current_user.superuser?
    %h3 Incoming Phone Number
    = f.input :incoming_phone_number_id, label: 'Incoming number', as: :select, collection: incoming_phone_numbers_for_list(@list), include_blank: 'Unassigned / Disabled'

  / %span.config_heading Sending Preferences
  / %ul
  /   %li= f.check_box(:allow_email_gateway) + "Allow sending via email (free and slower)"
  /   %li= f.check_box(:allow_commercial_gateway) + "Allow commercial gateway ($0.03/msg)"
  /   - if @list.allow_email_gateway
  /    %li= f.check_box(:prefer_email) + "Prefer email over commercial gateway"

  %h3 List Type
  = f.input :all_users_can_send_messages, label: false, as: :radio_buttons, collection: [['Discussion (anyone can send)', true], ['Announcement (admins can send)', false]  ]

  %h3 Response handling
  = f.input :text_admin_with_response, label: 'Send response to all admins'

  %h3 Join Policy
  = f.input :open_membership, as: :radio_buttons, label: false, collection: [['Open (anyone can join)', true], ['Closed (admins must add members)', false]]

  %h3 Message Content
  = f.input :add_list_name_header, label: 'Include list name in messages (e.g. [LIST])'
  = f.input :identify_sender, label: 'Include name of sender in messages'

  %h3 Default Language
  = f.input :default_locale, as: :select, label: false, collection: I18n.available_locales.map{ |locale| [I18n.t('language', locale: locale), locale.to_s] }, include_blank: false, hint: 'This will be the default language for list instructions and system responses.'
  = submit_button 'Save changes'

:coffeescript
  $ -> new Switchboard.ListController()