:javascript
  alert("javascript yo")
  // Append the function to the "document ready" chain
  jQuery(function($) {
    // when the #search field changes
    $("#name").change(function() {
      // make a POST call and replace the content
      $.post("/lists/check_name_available", function(data) {
        $("#availability").html(data);
      });
    });
  })

- content_for :main_box_content do

  %h4 Create a new List
 
  = form_for(@mylist) do |l| 
    %ul.create_list_options
      %li
        <span class='list_option'>List Name</span> (cannot contain spaces) 
        = l.text_field :name

        = image_tag("/images/spinner.gif", :id => 'list_name_spinner', :style => 'display: none')
        #availability
          %br 
      %li
        %span.list_option List Type
        %ul
          %li= radio_button_tag('list[list_type]', 'discussion') + "Discussion List: all users can send messages to the list (recommended for small lists only!)"
          %li= radio_button_tag("list[list_type]", 'announcement', true) + "Announcement List: only list owners can send messages to the list"
      %li
        %span.list_option Joining Policy
        %ul
          %li= radio_button_tag('list[join_policy]', 'open', true) + "Open: anyone can join"
          %li= radio_button_tag('list[join_policy]', 'closed') + "Closed: new members must be added by administrators"
      %li
        = submit_tag 'Create!', :id => "new_list_submit"
