- content_for :main_box_content do
  %h4 
    = 'LIST: ' + @list.name

  What do you want to do?

  #vertical_menu
    %p
      = link_to "Send a message", list_path(@list) + "/messages/new"
    %p
      = link_to "See list subscribers", list_path(@list) + "/phone_numbers"
    %p
      = link_to "Add a user to the list", list_path(@list) + "/users/new"
    %p
      = link_to "Import users", list_path(@list) + "/import"
    %p
      = link_to "Change list settings", list_path(@list) + "/edit"  
    %p
      = link_to "Manage surveys", "/surveys"  


  %br   

  %h4 LIST STATISTICS
  %p
    Contacts count: #{@list.phone_numbers.size}
    %br
    Total messages: #{@list.messages.size}
    %br
    Total messages this week: #{@list.messages.within_days(7).size}
    %br
    Total sent messages: #{@list.messages.in_state(4).size}

