- content_for :main_box_content do
  %h4 LIST #{@list.name}

  What do you want to do?

  #vertical_menu
    %p= link_to 'Send a message', new_list_message_path(@list)
    %p= link_to 'See list subscribers', list_phone_numbers_path(@list)
    %p= link_to 'Add a user to the list', new_list_user_path(@list)
    %p= link_to 'Import users', import_list_path(@list)
    %p= link_to 'Change list settings', edit_list_path(@list)
    %p= link_to 'Manage surveys', "/surveys"
    %p= link_to 'Delete list', list_path(@list), method: :delete, confirm: "Are you sure you want to permanently delete the list #{@list.name}?"

  %br   

  %h4 LIST STATISTICS
  %p
    Contacts count: #{@list.phone_numbers.size}
    %br
    Total messages: #{@list.messages.size}
    %br
    Total messages this week: #{@list.messages.within_days(7).size}
    %br
    Total sent messages: #{@list.messages.in_state(4).size}

