- page_title @list.name

#actions
  = link_to add_icon('Send a message', :message), new_list_message_path(@list), class: 'button'
  = link_to add_icon('New member', :user), new_list_contact_path(@list), class: 'button'

%h2 Recent messages
= render 'messages/message_list'
.view_all
  = link_to "All messages", list_path(@list) + "/messages"


%h2 List Statistics

%table.default.stats
  %tbody
    %tr
      %th Incoming number
      %td
        - if @list.incoming_phone_number
          = format_phone(@list.incoming_phone_number.phone_number)
        - else
          %em No number assigned
    %tr
      %th Contacts
      %td= @list.phone_numbers.size
    %tr
      %th SMS this month
      %td= @list.current_month_sms
    %tr
      %th Total SMS
      %td= @list.total_sms
    %tr
      %th Sent messages
      %td= @list.sent_count

.delete
  = link_to 'Delete list', list_path(@list), class: 'delete_link', method: :delete, confirm: "Are you sure you want to delete the list #{@list.name}?"
