= custom_form_for :session, url: signin_path, method: :post, html: {class: 'form-vertical'} do |f|
  = f.input :email, required: :false, input_html: {autofocus: true, autocomplete: 'off'}
  = f.input :password, required: :false, input_html: {autocomplete: 'off'}

  = submit_button 'Sign in'
  .input.boolean
    %label{for: 'user_remember'}<
      = check_box_tag :remember_me, 1, params[:remember_me], id: 'user_remember'
      = 'Remember me?'
