#menu
  = render :partial => '/admin/switchlist'
  - if @list
    #list_name
      %h3= @list.name
      %br
      = link_to 'Settings', edit_list_path(@list)
      |
      = link_to 'Members', list_phone_numbers_path(@list)
    %br
    = render :partial => '/messages/sidebar'
