%p
= custom_form_for(@user, html: {class: 'form-horizontal'}) do |f|
  - if @list
    Add to List:
    %strong= @list.name
    = hidden_field_tag('list_id', @list.id)
  = f.input :first_name
  = f.input :last_name
  = f.fields_for :phone_numbers do |sf|
    = sf.input :number, label: 'Phone number', required: @user.phone_numbers.length == 1
  = f.button :submit, label: 'Save contact'
