%p
= form_for @user do |f|
  Add to List:
  - if @list
    %b= @list.name
    = hidden_field_tag('list_id', @list.id)
  %br
  %br
  .field{:style => "height: 10px"} 
  .field
    .leftalign
      First Name
    .rightalign
      = f.text_field :first_name, :size => 15
  %br
  .field
    .leftalign
      Last Name
    .rightalign
      = f.text_field :last_name, :size => 15
  %br
  .field
    .leftalign
      Phone Number
    .rightalign
      - if @user.phone_numbers.empty?
        = text_field_tag 'user[phone_number]'
      = f.fields_for :phone_numbers do |phone_number_attributes|
        = phone_number_attributes.text_field :number
  %br
  %p
  .field
    = f.submit 'Save'
