%p
= form_for @user do |f|
  Add to List:
  - if @list
    %b= @list.name
    = hidden_field_tag('list_id', @list.id)
  %br
  First Name
  = f.text_field :first_name
  %br
  Last Name
  = f.text_field :last_name
  %br
  Email
  = f.text_field :email
  %br
  Phone Numbers
  - if @user.phone_numbers.empty?
    = text_field_tag 'user[phone_number]'
  - f.fields_for :phone_numbers do |phone_number_attributes|
    = phone_number_attributes.text_field :number
  %br
  = f.submit 'Save'
