%p
= custom_form_for(@contact, html: {class: 'form-horizontal'}) do |f|
  - if @list
    = hidden_field_tag('list_id', @list.id)
  = f.input :first_name, input_html: {autocomplete: 'off'}
  = f.input :last_name, input_html: {autocomplete: 'off'}
  = f.fields_for :phone_numbers do |sf|
    = sf.input :number, label: 'Phone number', required: @contact.phone_numbers.length == 1, input_html: {autocomplete: 'off'}
  = f.button :submit, label: 'Save contact'
