%li{data: { member_id: member.id } }
  - if @list.list_type == 'announcement'
    %span.toggle 
      = image_tag("spinner.gif", class: 'toggle_admin_spinner', id: "spinner_#{member.id}")
      %input.admin-checkbox{:type => 'checkbox', :value => 1, :checked => @list.number_is_admin?(member)}
      %span Toggle Admin
  = member.display_number_with_name
  %span.remove_member_icon
    %a{:href => edit_user_url(member.user)}= image_tag('icons/16/edit.png') 
    = link_to_remove_member(member, @list.id)
    = image_tag("spinner.gif", :id => "which_member_spinner_#{member.id}", :style => 'display: none; position: absolute;')
