%tr{id: "member_#{phone_number.id}"}
  - if @list.try(:all_users_can_send_messages) == false
    %td.toggle
      = image_tag("spinner.gif", class: "spinner", id: "toggle_admin_spinner_#{phone_number.id}", style: 'position: absolute;')
      %input.adminToggle{type: 'checkbox', list_id: @list.id, value: phone_number.id, checked: @list.number_is_admin?(phone_number) }
      %span Toggle Admin
  %td.name
    = link_to phone_number.user.try(:full_name), @list ? edit_list_user_path(@list, phone_number.user) : edit_user_path(phone_number.user), class: 'clk'
  %td.num
    = number_to_phone(phone_number.number)
  - if @list
    %td.del
      %span.remove_member_icon
        = link_to_remove_member(phone_number, @list.id)