<%= form_for(@service_phone_number) do |f| %>
  <% if @service_phone_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_phone_number.errors.count, "error") %> prohibited this service_phone_number from being saved:</h2>

      <ul>
      <% @service_phone_number.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :service %><br />
    <%= f.text_field :service %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
