<h1>Listing service_phone_numbers</h1>

<table>
  <tr>
    <th>Phone number</th>
    <th>Service</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service_phone_numbers.each do |service_phone_number| %>
  <tr>
    <td><%= service_phone_number.phone_number %></td>
    <td><%= service_phone_number.service %></td>
    <td><%= link_to 'Show', service_phone_number %></td>
    <td><%= link_to 'Edit', edit_service_phone_number_path(service_phone_number) %></td>
    <td><%= link_to 'Destroy', service_phone_number, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service phone number', new_service_phone_number_path %>
