%h1
  Organizations
  = link_to 'Create new', new_admin_organization_path, class: 'action'

%table.admin.linked
  %thead
    %th Name
    %th Lists
    %th Users
    %th SMS this month
    %th SMS last month
  %tbody
  - @organizations.each do |organization|
    %tr
      %td= link_to organization.name, [:admin, organization], class: 'clk'
      %td= organization.lists.size
      %td= organization.users.size
      %td= organization.current_month_sms
      %td= organization.last_month_sms