%h1
  = @organization.name
  = link_to 'Edit', edit_admin_organization_path(@organization), class: 'action'

%h2 Lists
%table.admin.linked
  %thead
    %th Name
    %th Members
    %th Outgoing this month
  %tbody
  - @lists.each do |list|
    %tr
      %td= list.name
      %td= list.list_memberships.size
      %td= list.current_month_sms