<h1>Listing gateways</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cost per text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gateways.each do |gateway| %>
  <tr>
    <td><%= gateway.name %></td>
    <td><%= gateway.cost_per_text %></td>
    <td><%= link_to 'Show', gateway %></td>
    <td><%= link_to 'Edit', edit_gateway_path(gateway) %></td>
    <td><%= link_to 'Destroy', gateway, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gateway', new_gateway_path %>
