%h1= @organization.name

%h2 Outgoing message counts
%p Totals for your organization

%table.default.stats
  %tbody
    %tr
      %th Outgoing this month
      %td= @organization.current_month_outgoing
    %tr
      %th Outgoing last month
      %td= @organization.last_month_outgoing
    %tr
      %th Total outgoing messages
      %td= @organization.outgoing_count


%h2 Organization users

%table#user_list.default
  %tbody
    = render partial: 'organizations/user', collection: @users
= paginate @users


%h2 Invite a user
%p Web users can create new lists, manage list subscribers, and send messages via the web.

= custom_form_for(:invitation, url: invite_organization_path(@organization), html: {class: 'form-vertical general_form user_invite'}) do |f|
  = f.input :email, label: 'Email to invite', required: true
  = submit_button 'Invite user'
