= render :partial => 'layouts/head'
= render :partial => 'layouts/page_header'
#content_container
  = render :partial => '/admin/menu'
  #content
    = yield
#footer
  = render :partial => '/layouts/footer'
