= render :partial => 'layouts/head'
%body
  - if notice || flash[:notice]
    %div{:class => "notice", :style => 'display:none'}
      = notice
      %div{:class => "toast-item-close"}
  - if alert || flash[:alert]
    %div{:class => "alert", :style => 'display:none'}
      = alert
      %div{:class => "toast-item-close"}
  #site-container
    #site
      = render :partial => 'layouts/page_header'
      #content-container
        = render :partial => '/admin/buttons'
        #content
          #new-message
            %h4 
              = link_to "Lists", "/lists"
              - if @list
                | 
                = link_to "List: " + @list.name, list_path(@list.id)
              - if @title
                |
                = @title
            - if content_for?(:main_box_content)
              = yield :main_box_content
            - else
              = yield
          #recent-messages
            %h3 
              RECENT MESSAGES
            #recent-messages-list
              %ul
                - if @list != nil
                  = render partial: 'messages/message', collection: @list.messages.most_recent(12)
                - else
                  = render partial: 'messages/message', collection: Message.most_recent(30).order('id DESC')
            .view
              - if @list
                = link_to "VIEW ALL RECENT MESSAGES", list_path(@list) + "/messages"
              - else 
                = link_to "VIEW ALL RECENT MESSAGES", "/messages"
          #dots
      #footer
        = render :partial => '/layouts/footer'
      #bottom-shadow
    #side-shadow
      .top
      .bottom
      



