= render :partial => 'layouts/head'
%body
  #site-container
    #site
      = render :partial => 'layouts/page_header'
      #content-container
        = render :partial => '/admin/buttons'
        #content
          #new-message
            #flash_messages_container
            %h4 
              = link_to "Lists", "/lists"
              - if @list
                | 
                = link_to "List: " + @list.name, list_path(@list.id)
              - if @title
                |
                = @title
            - if yield :main_box_content
              = yield :main_box_content
            - else
              = yield
          #recent-messages
            %h3 
              RECENT MESSAGES
            - if @list != nil
              = render :partial => 'messages/message', :collection => @list.most_recent_messages(12)
            - else
              = render(:partial => 'messages/message', :collection => Message.find(:all, :limit => 12, :order => "id desc" ))
            .view
              %a{:href => '#'} VIEW ALL RECENT MESSAGES
          #dots
      #footer
        = render :partial => '/layouts/footer'
      #bottom-shadow
    #side-shadow
      .top
      .bottom
      



