= render :partial => 'layouts/head'
%body
  #site-container
    #site
      = render :partial => 'layouts/page_header'
      #content-container
        = render :partial => '/admin/buttons'
        #content
          #new-message
            #flash_messages_container
            - if yield :main_box_content
              = yield :main_box_content
            - else
              %h3 New Message
              %form
                %textarea
                = yield
                %fieldset#message-options
                  %legend Message Options
                  %ul
                    %li
                      %input{:id => 'txt-msg', :type => 'checkbox'} 
                        %label Txt Msg
                      %input{:id => 'limit', :type => 'checkbox'} 
                        %label.aqua Limit to 140 characters
                    %li
                      %input{:id => 'email', :type => 'checkbox'} 
                        %label Email
                    %li
                      %input{:id => 'rss', :type => 'checkbox'} 
                        %label RSS            
                  
                %button{:type => 'submit', :class => 'send-image'}
 
          #recent_messages
          - if yield :recent_messages:
            = yield :recent_mesages
          - else
            #recent-messages
              %h3 Recent Messages
              .view
                %a{:href => '#'} View all recent messages
          #dots
      #footer
        = render :partial => '/layouts/footer'
      #bottom-shadow
    #side-shadow
      .top
      .bottom
      



