= render :partial => 'layouts/head'
%body
  #site-container
    #site
      = render :partial => 'layouts/page_header'
      #content-container
        = render :partial => '/admin/buttons'
        #content
          #new-message
            #flash_messages_container
            - if yield :main_box_content
              = yield :main_box_content
            - else
              = yield
          #recent_messages
          - if yield :recent_messages:
            = yield :recent_mesages
          - else
            #recent-messages
              %h3 
                RECENT MESSAGES
              .view
                %a{:href => '#'} VIEW ALL RECENT MESSAGES
          #dots
      #footer
        = render :partial => '/layouts/footer'
      #bottom-shadow
    #side-shadow
      .top
      .bottom
      



