= render 'layouts/head'
%body{class: Settings.staging_style ? 'staging' : nil}
  = render 'shared/flashes'
  #site-container
    #site
      = render 'layouts/page_header'
      #content-container
        %ul#main_menu
          = render 'shared/menu_lists'
        #content
          %h4.breadcrumb
            - if @list
              = link_to "List: #{@list.name}", list_path(@list.id)
            - if @title
              - if @list
                >
              = @title
          = yield

      #footer
        = render partial: 'layouts/footer'
