= render :partial => 'layouts/head'
%body
  = render 'shared/flashes'
  #site-container
    #site
      = render :partial => 'layouts/page_header'
      #content-container
        #content
          = yield
      #footer
        = render :partial => '/layouts/footer'
      #bottom-shadow
    #side-shadow
      .top
      .bottom
      
